<td>
    <%= select_tag "user_billable", options_for_select(["Billable", "Non Billable" ], !member.billable.nil? ? member.billable==true ? "Billable" : "Non Billable" : "") ,include_blank: true,:member_id=>member.id,:disabled => true %>
  <%= hidden_field_tag 'billable_status', member.billable,:id=>"member_billable_status",:member_id=>member.id,:billable_status=>member.billable %>

</td>
<td>
<div class="member-<%=member.id%>-capacity" id="member_capacity">

    <div>

    <input type="hidden" id="member_id" value="<%= member.id  %>" member_id="<%=member.id %>">
    <input type="hidden" id="current_capacity" value="<%=  Member.current_project_capacity(member) %>" member_id="<%=member.id %>">
    <input type="hidden" id="available_capacity" value="<%=   Member.available_capacity(member) %>%" member_id="<%=member.id %>">
    <input type="hidden" id="selected_capacity" value="" member_id="<%=member.id %>">
    <input type="hidden" id="other_capacity" value="<%=  Member.other_capacity(member) %>" member_id="<%=member.id %>">

    <!--<div id="donut_single" style="width: 150px; height: 150px;"></div>-->

  </div>
  <!--<label for="amount">Used:</label>-->
  <div id="capacity_chart_<%=member.id %>" ></div>
   <div id="div_member_capacity_slider" style="display:none"></div>
  <%= hidden_field_tag 'member_capacity', member.capacity,:member_id=>member.id %>
</div>

</td>





