<% empinfo_helper = Object.new.extend(EmployeeInfoHelper) %>
<input type="hidden" id="get_co_do_role" value="<%=  empinfo_helper.get_role(@project) %>">
<input type="hidden" id="get_internal_role" value="<%=  empinfo_helper.get_internal_role().join(',') %>">

<td>


  <%= select_tag "user_billable", options_for_select([["Billable",1],["Shadow",2],["Support",3]],member.billable.present?  ? ([:billable,:shadow,:support].index(member.billable).to_i
  )+1 : ""),include_blank: true,:member_id=>member.id,:disabled => true %>
  <%= hidden_field_tag 'billable_status', member.billable,:id=>"member_billable_status",:member_id=>member.id,:billable_status=>member.billable %>

</td>
<td>
<div class="member-<%=member.id%>-capacity" id="member_capacity">
    <div style="width:200px;">

    <input type="hidden" id="member_id" value="<%= member.id  %>" member_id="<%=member.id %>">

      <%#=  Member.current_project_capacity(member) %>
    <input type="hidden" id="current_capacity" value="<%=  Member.current_project_capacity(member) %>" member_id="<%=member.id %>">
    <input type="hidden" id="available_capacity" value="<%=   Member.available_capacity(member) %>%" member_id="<%=member.id %>">
    <input type="hidden" id="selected_capacity" value="" member_id="<%=member.id %>">
    <input type="hidden" id="other_capacity" value="<%=  Member.other_capacity(member) %>" member_id="<%=member.id %>">
    <div id="capacity_chart_<%=member.id %>" style="width: 150px; height: 150px;"></div>

  </div>
   <div id="div_member_capacity_slider" style="display:none"></div>

  <%= hidden_field_tag 'member_capacity', member.capacity,:member_id=>member.id %>
</div>

</td>




